[submodule "mcutils"]
	path = mcutils
	url = https://github.com/mchaisso/mcutils.git
	ignore = dirty
[submodule "blasr"]
	path = blasr
	url = https://github.com/mchaisso/blasr.git
	ignore = dirty
[submodule "dep/mcutils"]
	path = dep/mcutils
	url = https://github.com/mchaisso/mcutils
[submodule "dep/pbsamstream"]
	path = dep/pbsamstream
	url = https://github.com/mchaisso/pbsamstream
[submodule "dep/pbgreedyphase"]
	path = dep/pbgreedyphase
	url = https://github.com/mchaisso/pbgreedyphase
