[submodule "mcutils"]
	path = mcutils
	url = https://github.com/mchaisso/mcutils.git
	ignore = dirty
[submodule "local_assembly/pbgreedyphase"]
	path = local_assembly/pbgreedyphase
	url = https://github.com/paudano/pbgreedyphase.git
	ignore = dirty
[submodule "pbsamstream"]
	path = pbsamstream
	url = https://github.com/paudano/pbsamstream.git
	ignore = dirty
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
	ignore = dirty
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
[submodule "blasr"]
	path = blasr
	url = https://github.com/mchaisso/blasr.git
	ignore = dirty
[submodule "hgsvg"]
	path = hgsvg
	url = https://github.com/paudano/hgsvg.git
	ignore = dirty
[submodule "vt"]
	path = vt
	url = https://github.com/atks/vt.git
	ignore = dirty
[submodule "local_assembly/blasr"]
	path = local_assembly/blasr
	url = https://github.com/mchaisso/blasr.git
	ignore = dirty
