[submodule "dep/mcutils"]
	path = dep/mcutils
	url = https://github.com/mchaisso/mcutils
[submodule "local_assembly/pbgreedyphase"]
	path = local_assembly/pbgreedyphase
	url = https://github.com/mchaisso/pbgreedyphase
[submodule "hgsvg"]
	path = hgsvg
	url = http://github.com/mchaisso/hgsvg
[submodule "dep/blasr"]
	path = dep/blasr
	url = https://github.com/mchaisso/blasr
