REF=/home/cmb-panasas2/mchaisso/genomes/hg38/hg38.fa
BAMS=/home/cmb-panasas2/mchaisso/giab/bams.fofn
VCF=/home/cmb-16/mjc/sample-datasets/giab/HG002/pacbio/10x/NA24385_GRCh38.het.vcf.gz
SAMPLE=HG002
DEST=run
