REF=/home/cmb-16/mjc/shared/references/hg38/hg38.fa
BAMS=/home/cmb-16/mjc/projects/phased-sv/test_run/ch.fofn
VCF=/home/cmb-16/mjc/projects/phased-sv/test_run/data/rgn1.vcf.gz
SAMPLE=HG00733
DEST=asm

#
# Parameters for pulling reads from parents.
#
FABAMS=/home/cmb-16/mjc/projects/phased-sv/test_run/fa.fofn
MOBAMS=/home/cmb-16/mjc/projects/phased-sv/test_run/mo.fofn
FA=HG00731
MO=HG00732
MO_INHERIT=/home/cmb-16/mjc/projects/phased-sv/test_run/mo.bed.gz
FA_INHERIT=/home/cmb-16/mjc/projects/phased-sv/test_run/fa.bed.gz

